@import 'mixins';
@import 'overlay';

.pure-g [class*="pure-u"] {
  text-rendering: optimizeLegibility;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

html {
  text-rendering: optimizeLegibility;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

.material-icons {
  @include vertical-align(relative, -25%);
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.pure-button-primary {
  background: #13196B ;
}