#overlay {
  @include z-index-5;
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:120%;
  background: rgba(0, 0, 0, 0.8);
}

#overlay .modal {
  @include z-index-6;
  width: 500px;
  margin: 50px auto;
  background-color: #fff;
}

.modal-header {
  font-size: 1.3em;
  font-weight: bold;
  background: #000e1b;
  color: #eee;
  padding: 10px 15px;
}

.modal-title {
  text-align: left;
}

.modal-close {
  text-align: right;
  span {
    cursor: pointer;
  }
}
