@import 'base';
@import 'forms';
@import 'table';

.pure-g {
  height: 100%;
  [class*="pure-u"] {
    height: 100%;
  }
}

#header {
  border-bottom: 1px solid #eee;
  padding: 10px 5px;
}

.header-wrap {
  padding: 5px 10px;
}

#content {
  height: 100%;
}

#dashNav {
  height: 100%;
  border-right: 1px solid #eee;
}

.pure-menu-item {
  border-bottom: 1px solid #eee;
}

.pure-menu-link {
  padding: .5em 1em .8em;
  &:hover {
    color: #2c82c9;
  }
}

.menu-icon {
  padding: 0 10px 0 0;
}

.overview {
  margin: 2% 0 0;
}

#homeOverview {
  height: 25%;
}

#billsOverview {
  height: 25%;
}

#charts {
  height: 55%;
  .overview-card {
    height: 90%;
    width: 95%;
    margin: 0 15px;
  }

  canvas {
  }
}

#categoryPie {
  margin-top: 10%;
}

.overview-wrap {
  height: 100%;
  h3 {
    color: #4d4d4d;
    width: 85%;
    margin: 0 auto;
    padding: 5px;
  }
}

.overview-card {
  position: relative;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 90%;
  height: 80%;
  margin: 0 auto;
  h4 {
    color: #4d4d4d;
    margin: 12px 20px 5px;
  }
}

.available-balance {
  padding: 0 10px;
  margin: 10px 0;
  position: relative;
}

.currency {
  position: relative;
  bottom: 8px;
  left: 5px;
  font-size: 1.6em;
  //font-weight: bold
}

.account-options {
  width: 25%;
  position: absolute;
  top: 5px;
  right: 15px;
  text-align: right;
  span {
    @include  vertical-align(relative, -12%);
    padding: 2px;
    background: rgba(189, 195, 199, 0);
    border-radius: 30px;
    &:hover {
      padding: 2px;
      background: rgba(189, 195, 199, 1);
      border-radius: 30px;
      cursor: pointer;
    }
  }
}

.account-name {
  position: absolute;
  width: 50%;
  top: 4px;
  right: 20%;
  text-align: center;
  .material-icons {
    font-weight: bold;
  }
}


#currentBalance {
  font-size: 2em;
  //font-weight: bold;
}

#addTransaction {
  box-sizing: border-box;
  padding: 2px;
  background: rgba(189, 195, 199, 0);
  border-radius: 30px;
  &:hover {
    padding: 2px;
    background: rgba(189, 195, 199, 1);
    border-radius: 30px;
    cursor: pointer;
  }
}
