@import 'base';
@import 'forms';

.pure-g {
  height: 100%;
  div {
    height: 100%;
  }
}

#header {
  border-bottom: 1px solid #eee;
  padding: 10px 5px;
}

.header-wrap {
  padding: 5px 10px;
}

#content {
  height: 100%;
}

#dashNav {
  height: 100%;
  border-right: 1px solid #eee;
}

.dash-table {
  width: 90%;
  margin: 2% auto;
  thead {
    text-align: center;
    position: relative;
    th {
      @include vertical-align(relative, 10%);
      .material-icons {
        @include vertical-align(relative, -28%);
      }
    }
  }
}

.pure-menu-item {
  border-bottom: 1px solid #eee;
}

.pure-menu-link {
  padding: .5em 1em .8em;
}

.menu-icon {
  padding: 0 10px 0 0;
}

#addTransaction {
  box-sizing: border-box;
  padding: 2px;
  background: rgba(189, 195, 199, 1);
  border-radius: 30px;
  &:hover {
    background: rgba(108, 122, 137, 1);
    cursor: pointer;
  }
}